.top-container {
  width: 900px;
  margin: auto;
}

.middle-container {
  width: 900px;
  margin: auto;
  padding-bottom: 10px;
}

.middle-container h2{
  color: black;
  background-position: center;
  text-align: center;
  padding: 32px;

}
